In [1]:
import os, csv
import numpy as np
import pandas as pd

In [3]:
with open('../data/aquastat.csv', "r") as f:
    
    reader = csv.reader(f)
    header = next(reader)
    
    skipped = ""
    rows = ""
    for line in reader:
        
    print(lines[0])

IndentationError: expected an indented block (<ipython-input-3-42a2c6e504f6>, line 10)

In [4]:
header

NameError: name 'header' is not defined

In [5]:
aquastat_df = pd.read_csv(os.path.join('..', 'data', 'aquastat.csv'))
aquastat_df.shape

(3598, 22)

In [6]:
aquastat_df.dropna(thresh=10).shape

(2399, 22)

In [7]:
aquastat_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1993-1997,Unnamed: 4,Unnamed: 5,Unnamed: 6,1998-2002,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,2008-2012,Unnamed: 16,Unnamed: 17,Unnamed: 18,2013-2017,Unnamed: 20,Unnamed: 21
0,Afghanistan,Total area of the country (1000 ha),1997.0,65286,E,NaN,2002.0,65286,E,NaN,...,E,NaN,2012.0,65286,E,NaN,2014.0,65286,E,NaN
1,Afghanistan,% of total country area cultivated (%),1997.0,11.93,E,NaN,2002.0,11.88,E,NaN,...,E,NaN,2012.0,12.12,E,NaN,2014.0,12.12,E,NaN
2,Afghanistan,Total population (1000 inhab),1997.0,18034,E,NaN,2002.0,21487,E,NaN,...,E,NaN,2012.0,29727,E,NaN,2015.0,32527,E,NaN
3,Afghanistan,Rural population (1000 inhab),1997.0,14162,E,NaN,2002.0,16621,E,NaN,...,E,NaN,2012.0,22131,E,NaN,2015.0,23980,E,NaN
4,Afghanistan,Urban population (1000 inhab),1997.0,3872,E,NaN,2002.0,4866,E,NaN,...,E,NaN,2012.0,7596,E,NaN,2015.0,8547,E,NaN

### Drop the empty columns

In [8]:
aquastat_df.drop([
    'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13', 'Unnamed: 17', 'Unnamed: 21', 'Unnamed: 4', 'Unnamed: 8', 'Unnamed: 12', 'Unnamed: 16', 'Unnamed: 20'
], axis=1, inplace=True)

In [9]:
aquastat_df.shape

(3598, 12)

In [10]:
# year_cols = aquastat_df.filter(regex="\d+\-\d+").columns

In [11]:
# aquastat_df[year_cols].apply(lambda x: x == x, axis=1)

### Rename the Existing Columns

In [12]:
aquastat_df.drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [13]:
aquastat_df = aquastat_df.rename(columns={
    'Unnamed: 0'  : 'country',
    'Unnamed: 1'  : 'variable_name',
    'Unnamed: 2'  : 'bin1_years_93_97',
    '1993-1997'   : 'bin1_value',
    'Unnamed: 4'  : 'availability1',
    'Unnamed: 6'  : 'bin2_years_98_02',
    '1998-2002'   : 'bin2_value',
    'Unnamed: 8'  : 'availability2',
    'Unnamed: 10' : 'bin3_years_03_07',
    '2003-2007'   : 'bin3_value',
    'Unnamed: 12' : 'availiability3',
    'Unnamed: 14' : 'bin4_years_08_12',
    '2008-2012'   : 'bin4_value',
    'Unnamed: 16' : 'availability4',
    'Unnamed: 18' : 'bin5_years_13_17',
    '2013-2017'   : 'bin5_value',
    'Unnamed: 20' : 'availability5'
})

aquastat_df.head()

,country,variable_name,bin1_years_93_97,bin1_value,bin2_years_98_02,bin2_value,bin3_years_03_07,bin3_value,bin4_years_08_12,bin4_value,bin5_years_13_17,bin5_value
0,Afghanistan,Total area of the country (1000 ha),1997.0,65286,2002.0,65286,2007.0,65286,2012.0,65286,2014.0,65286
1,Afghanistan,% of total country area cultivated (%),1997.0,11.93,2002.0,11.88,2007.0,12.12,2012.0,12.12,2014.0,12.12
2,Afghanistan,Total population (1000 inhab),1997.0,18034,2002.0,21487,2007.0,25878,2012.0,29727,2015.0,32527
3,Afghanistan,Rural population (1000 inhab),1997.0,14162,2002.0,16621,2007.0,19663,2012.0,22131,2015.0,23980
4,Afghanistan,Urban population (1000 inhab),1997.0,3872,2002.0,4866,2007.0,6215,2012.0,7596,2015.0,8547

### Remove the blank and unformatted rows

In [14]:
aquastat_df = aquastat_df[aquastat_df.country.notnull()]

In [15]:
aquastat_df.head(20)

,country,variable_name,bin1_years_93_97,bin1_value,bin2_years_98_02,bin2_value,bin3_years_03_07,bin3_value,bin4_years_08_12,bin4_value,bin5_years_13_17,bin5_value
0,Afghanistan,Total area of the country (1000 ha),1997.0,65286,2002.0,65286,2007.0,65286,2012.0,65286,2014.0,65286
1,Afghanistan,% of total country area cultivated (%),1997.0,11.93,2002.0,11.88,2007.0,12.12,2012.0,12.12,2014.0,12.12
2,Afghanistan,Total population (1000 inhab),1997.0,18034,2002.0,21487,2007.0,25878,2012.0,29727,2015.0,32527
3,Afghanistan,Rural population (1000 inhab),1997.0,14162,2002.0,16621,2007.0,19663,2012.0,22131,2015.0,23980
4,Afghanistan,Urban population (1000 inhab),1997.0,3872,2002.0,4866,2007.0,6215,2012.0,7596,2015.0,8547
5,Afghanistan,Population density (inhab/km2),1997.0,27.62,2002.0,32.91,2007.0,39.64,2012.0,45.53,2015.0,49.82
6,Afghanistan,GDP per capita (current US$/inhab),NaN,NaN,2002.0,192.2,2007.0,380.4,2012.0,690.8,2015.0,590.3
7,Afghanistan,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,2000.0,0.3343,NaN,NaN,2012.0,0.463,2014.0,0.4653
8,Afghanistan,Gender Inequality Index (GII) [equality = 0; i...,NaN,NaN,NaN,NaN,2005.0,0.743,2010.0,0.72,2014.0,0.6934
9,Afghanistan,Prevalence of undernourishment (3-year average...,1997.0,45.6,2002.0,46.7,2007.0,32.3,2012.0,24.3,2016.0,26.8
10,Afghanistan,National Rainfall Index (NRI) (mm/year),1993.0,297,2000.0,185,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,Dependency ratio (%),1997.0,28.72,2002.0,28.72,2007.0,28.72,2012.0,28.72,2014.0,28.72
12,Afghanistan,Total renewable water resources per capita (m3...,1997.0,3623,2002.0,3040,2007.0,2525,2012.0,2198,2014.0,2008
13,Afghanistan,SDG 6.4.2. Water Stress (%),NaN,NaN,2000.0,43.67,NaN,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,Flood occurrence (WRI) (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,3.7
15,Afghanistan,Total population with access to safe drinking-...,1997.0,25,2002.0,33.8,2007.0,42.6,2012.0,51.6,2015.0,55.3
18,Albania,Total area of the country (1000 ha),1997.0,2875,2002.0,2875,2007.0,2875,2012.0,2875,2014.0,2875
19,Albania,% of total country area cultivated (%),1997.0,24.35,2002.0,24.31,2007.0,24.28,2012.0,24.21,2014.0,24.21
20,Albania,Total population (1000 inhab),1997.0,3092,2002.0,3123,2007.0,3011,2012.0,2881,2015.0,2897
21,Albania,Rural population (1000 inhab),1997.0,1758,2002.0,1703,2007.0,1463,2012.0,1163,2015.0,1062

In [16]:
aquastat_df.columns

Index(['country', 'variable_name', 'bin1_years_93_97', 'bin1_value',
       'bin2_years_98_02', 'bin2_value', 'bin3_years_03_07', 'bin3_value',
       'bin4_years_08_12', 'bin4_value', 'bin5_years_13_17', 'bin5_value'],
      dtype='object')

In [17]:
aquastat_df.to_csv(os.path.join('..', 'data', 'aquastat_clean.csv'))

In [22]:
aquastat_df.pivot(index="country", columns="variable_name", values=["bin1_value", "bin2_value", "bin3_value", "bin4_value", "bin5_value"])

Exception: Data must be 1-dimensional

In [ ]:
aquastat_table = aquastat_df.pivot_table(
    index=['country'], 
    columns=['variable_name'],
    values=['bin1_years_93_97', 'bin1_value',
       'bin2_years_98_02', 'bin2_value', 'bin3_years_03_07', 'bin3_value',
       'bin4_years_08_12', 'bin4_value', 'bin5_years_13_17'])

In [ ]:
aquastat_table