In [87]:
from flask import Flask
from flask import render_template

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

import pandas as pd

In [88]:
db_uri ="sqlite:///../data/data.sqlite"

engine = create_engine(db_uri)

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

inspector = inspect(engine)
print(inspector.get_table_names())

['Data', 'sqlite_sequence']

In [89]:
columns = inspector.get_columns('Data')
columns

[{'autoincrement': 'auto',
  'default': None,
  'name': 'id',
  'nullable': True,
  'primary_key': 0,
  'type': BIGINT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'country',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'mid year',
  'nullable': True,
  'primary_key': 0,
  'type': BIGINT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'year bucket',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'area',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'dependency_ratio',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'flood',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'gdp_per_cap',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'gii',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'hdi',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'nri',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'perc_cultivated',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'perc_safe_water',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'perc_undernourish',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'pop_density',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'renew_water_per_cap',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'rural_pop',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'total_pop',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'urban_pop',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'water_stress',
  'nullable': True,
  'primary_key': 0,
  'type': FLOAT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'cn_code',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'cn_name',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()}]

In [90]:
db_uri ="sqlite:///../data/data.sqlite"

engine = create_engine(db_uri)

# # reflect an existing database into a new model
Base = automap_base()

# # reflect the tables
Base.prepare(engine, reflect=True)

# # Save references to the table
Base.classes.keys()

[]

In [91]:
# Create a session
session = Session(engine)

In [92]:
query_statement = "select * from Data"
df = pd.read_sql_query(query_statement, session.bind)
df.count()

id                     1000
country                1000
mid year               1000
year bucket            1000
area                    978
dependency_ratio        959
flood                   176
gdp_per_cap             943
gii                     507
hdi                     537
nri                     316
perc_cultivated         977
perc_safe_water         949
perc_undernourish       472
pop_density             978
renew_water_per_cap     902
rural_pop               990
total_pop               990
urban_pop               990
water_stress            424
cn_code                 705
cn_name                 705
dtype: int64

In [93]:
query_statement = "select country, `mid year`, `year bucket`, gdp_per_cap, hdi, gii, \
                    rural_pop, urban_pop, total_pop, round(((urban_pop/total_pop)*100), 2) urbanized \
                    from Data \
                    where hdi is not null and gdp_per_cap is not null and gii is not null \
                    order by `mid year`"
hdi_gdp_gii_df = pd.read_sql_query(query_statement, session.bind)
hdi_gdp_gii_df.head(10)

,country,mid year,year bucket,gdp_per_cap,hdi,gii,rural_pop,urban_pop,total_pop,urbanized
0,Algeria,2000,1998-2002,1774.0,0.6401,0.621,11957.0,20033.00,31990.0,62.62
1,Argentina,2000,1998-2002,2579.0,0.7621,0.425,4205.0,33684.00,37889.0,88.90
2,Armenia,2000,1998-2002,779.9,0.6477,0.458,1088.0,1959.00,3047.0,64.29
3,Australia,2000,1998-2002,20191.0,0.8975,0.158,2256.0,17258.00,19514.0,88.44
4,Austria,2000,1998-2002,26248.0,0.8364,0.160,2790.0,5325.00,8115.0,65.62
5,Barbados,2000,1998-2002,11674.0,0.7526,0.358,181.3,90.22,271.5,33.23
6,Belgium,2000,1998-2002,24988.0,0.8738,0.123,312.0,10053.00,10365.0,96.99
7,Belize,2000,1998-2002,3557.0,0.6831,0.525,143.6,118.60,262.2,45.23
8,Bolivia (Plurinational State of),2000,1998-2002,913.6,0.6031,0.576,3100.0,5553.00,8653.0,64.17
9,Botswana,2000,1998-2002,3044.0,0.5608,0.529,803.4,983.60,1787.0,55.04

In [94]:
list(hdi_gdp_gii_df['country'].values)

['Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Barbados',
 'Belgium',
 'Belize',
 'Bolivia (Plurinational State of)',
 'Botswana',
 'Brazil',
 'Burundi',
 'Cambodia',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'Estonia',
 'Finland',
 'France',
 'Gambia',
 'Germany',
 'Guyana',
 'Iceland',
 'Iran (Islamic Republic of)',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lesotho',
 'Liberia',
 'Luxembourg',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mexico',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Niger',
 'Norway',
 'Papua New Guinea',
 'Paraguay',
 'Philippines',
 'Poland',
 'Portugal',
 'Russian Federation',
 'Rwanda',
 'Senegal',
 'Slovakia',
 'South Africa',
 'Spain',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Thailand',
 'Tonga',
 'Uganda',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Viet Nam',
 'Yemen',
 'Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belgium',
 'Belize',
 'Benin',
 'Bolivia (Plurinational State of)',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "C?te d'Ivoire",
 'Democratic Republic of the Congo',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Norway',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "C?te d'Ivoire",
 'Democratic Republic of the Congo',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav Republic of Macedonia',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [95]:
for item, row in hdi_gdp_gii_df.iterrows():
    print(row.country)
#     hdi_dict = row.to_dict()
#     hdi_dict

#         meta_dict = samples_meta_df[samples_meta_df['SAMPLEID']==id].iloc[0].to_dict()

Algeria
Argentina
Armenia
Australia
Austria
Barbados
Belgium
Belize
Bolivia (Plurinational State of)
Botswana
Brazil
Burundi
Cambodia
Chile
China
Colombia
Congo
Costa Rica
Croatia
Cuba
Czechia
Denmark
Dominican Republic
Ecuador
Egypt
Estonia
Finland
France
Gambia
Germany
Guyana
Iceland
Iran (Islamic Republic of)
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lesotho
Liberia
Luxembourg
Malaysia
Mali
Mauritania
Mexico
Morocco
Mozambique
Namibia
Nepal
Netherlands
New Zealand
Niger
Norway
Papua New Guinea
Paraguay
Philippines
Poland
Portugal
Russian Federation
Rwanda
Senegal
Slovakia
South Africa
Spain
Swaziland
Sweden
Switzerland
Tajikistan
Thailand
Tonga
Uganda
United Arab Emirates
United Kingdom
Uruguay
Viet Nam
Yemen
Afghanistan
Albania
Algeria
Argentina
Armenia
Australia
Austria
Bahrain
Bangladesh
Barbados
Belgium
Belize
Benin
Bolivia (Plurinational State of)
Botswana
Brazil
Bulgaria
Burundi
Cambodia
Cameroon
Canada
Chile
China
Colombia
Congo
Costa Rica
Croatia
Cuba
Cyprus
Czechia
C?te d'Ivoire
Democratic Republic of the Congo
Denmark
Dominican Republic
Ecuador
El Salvador
Finland
France
Gabon
Gambia
Germany
Ghana
Greece
Guatemala
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lesotho
Liberia
Libya
Lithuania
Luxembourg
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritius
Mexico
Mongolia
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Zealand
Nicaragua
Norway
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Republic of Korea
Republic of Moldova
Romania
Russian Federation
Rwanda
Saudi Arabia
Senegal
Sierra Leone
Singapore
Slovakia
Slovenia
South Africa
Spain
Sri Lanka
Swaziland
Sweden
Switzerland
Tajikistan
Thailand
Togo
Tonga
Trinidad and Tobago
Turkey
Ukraine
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States of America
Uruguay
Venezuela (Bolivarian Republic of)
Viet Nam
Yemen
Zambia
Zimbabwe
Afghanistan
Albania
Algeria
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Botswana
Brazil
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Central African Republic
Chad
Chile
China
Colombia
Congo
Costa Rica
Croatia
Cuba
Cyprus
Czechia
C?te d'Ivoire
Democratic Republic of the Congo
Denmark
Dominican Republic
Ecuador
Egypt
El Salvador
Estonia
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Guatemala
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Lithuania
Luxembourg
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritius
Mexico
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Norway
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Republic of Korea
Republic of Moldova
Romania
Russian Federation
Rwanda
Samoa
Saudi Arabia
Senegal
Serbia
Sierra Leone
Singapore
Slovakia
Slovenia
South Africa
Spain
Sri Lanka
Sudan
Suriname
Swaziland
Sweden
Switzerland
Tajikistan
Thailand
The former Yugoslav Republic of Macedonia
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Uganda
Ukraine
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States of America
Uruguay
Venezuela (Bolivarian Republic of)
Viet Nam
Yemen
Zambia
Zimbabwe

In [96]:
hdi_gdp_gii_df.count()

country        369
mid year       369
year bucket    369
gdp_per_cap    369
hdi            369
gii            369
rural_pop      369
urban_pop      369
total_pop      369
urbanized      369
dtype: int64

In [97]:
hdi_gdp_gii_df['mid year'].unique()

array([2000, 2010, 2015])

In [98]:
hdi_gdp_gii_df.groupby('mid year').count()

,country,year bucket,gdp_per_cap,hdi,gii,rural_pop,urban_pop,total_pop,urbanized
mid year,,,,,,,,,
2000,83,83,83,83,83,83,83,83,83
2010,131,131,131,131,131,131,131,131,131
2015,155,155,155,155,155,155,155,155,155

In [99]:
hdi_gdp_gii_df.groupby('country').count()

,mid year,year bucket,gdp_per_cap,hdi,gii,rural_pop,urban_pop,total_pop,urbanized
country,,,,,,,,,
Afghanistan,2,2,2,2,2,2,2,2,2
Albania,2,2,2,2,2,2,2,2,2
Algeria,3,3,3,3,3,3,3,3,3
Argentina,3,3,3,3,3,3,3,3,3
Armenia,3,3,3,3,3,3,3,3,3
Australia,3,3,3,3,3,3,3,3,3
Austria,3,3,3,3,3,3,3,3,3
Azerbaijan,1,1,1,1,1,1,1,1,1
Bahamas,1,1,1,1,1,1,1,1,1
Bahrain,2,2,2,2,2,2,2,2,2
Bangladesh,2,2,2,2,2,2,2,2,2
Barbados,3,3,3,3,3,3,3,3,3
Belarus,1,1,1,1,1,1,1,1,1
Belgium,3,3,3,3,3,3,3,3,3
Belize,3,3,3,3,3,3,3,3,3
Benin,2,2,2,2,2,2,2,2,2
Bhutan,1,1,1,1,1,1,1,1,1
Bolivia (Plurinational State of),3,3,3,3,3,3,3,3,3
Bosnia and Herzegovina,1,1,1,1,1,1,1,1,1
Botswana,3,3,3,3,3,3,3,3,3
Brazil,3,3,3,3,3,3,3,3,3
Bulgaria,2,2,2,2,2,2,2,2,2
Burkina Faso,1,1,1,1,1,1,1,1,1
Burundi,3,3,3,3,3,3,3,3,3
C?te d'Ivoire,2,2,2,2,2,2,2,2,2
Cambodia,3,3,3,3,3,3,3,3,3
Cameroon,2,2,2,2,2,2,2,2,2
Canada,2,2,2,2,2,2,2,2,2
Central African Republic,1,1,1,1,1,1,1,1,1
Chad,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Slovakia,3,3,3,3,3,3,3,3,3
Slovenia,2,2,2,2,2,2,2,2,2
South Africa,3,3,3,3,3,3,3,3,3
Spain,3,3,3,3,3,3,3,3,3
Sri Lanka,2,2,2,2,2,2,2,2,2
Sudan,1,1,1,1,1,1,1,1,1
Suriname,1,1,1,1,1,1,1,1,1
Swaziland,3,3,3,3,3,3,3,3,3
Sweden,3,3,3,3,3,3,3,3,3
Switzerland,3,3,3,3,3,3,3,3,3
Tajikistan,3,3,3,3,3,3,3,3,3
Thailand,3,3,3,3,3,3,3,3,3
The former Yugoslav Republic of Macedonia,1,1,1,1,1,1,1,1,1
Togo,2,2,2,2,2,2,2,2,2
Tonga,3,3,3,3,3,3,3,3,3
Trinidad and Tobago,2,2,2,2,2,2,2,2,2
Tunisia,1,1,1,1,1,1,1,1,1
Turkey,2,2,2,2,2,2,2,2,2
Uganda,2,2,2,2,2,2,2,2,2
Ukraine,2,2,2,2,2,2,2,2,2
United Arab Emirates,3,3,3,3,3,3,3,3,3
United Kingdom,3,3,3,3,3,3,3,3,3
United Republic of Tanzania,2,2,2,2,2,2,2,2,2
United States of America,2,2,2,2,2,2,2,2,2
Uruguay,3,3,3,3,3,3,3,3,3
Venezuela (Bolivarian Republic of),2,2,2,2,2,2,2,2,2
Viet Nam,3,3,3,3,3,3,3,3,3
Yemen,3,3,3,3,3,3,3,3,3
Zambia,2,2,2,2,2,2,2,2,2
Zimbabwe,2,2,2,2,2,2,2,2,2

In [100]:
  query_statement = "SELECT country, gdp_per_cap, hdi, gii, \
                    rural_pop, urban_pop, total_pop, round(((urban_pop/total_pop)*100), 2) urbanized \
                    FROM Data \
                    WHERE `mid year` = 2015 \
                    AND hdi IS NOT NULL AND gdp_per_cap IS NOT NULL AND gii IS NOT NULL \
                    ORDER BY `mid year`"
  hdi_gdp_gii_df = pd.read_sql_query(query_statement, session.bind)
  hdi_dict = hdi_gdp_gii_df.to_dict()

  results = session.connection().execute(query_statement)

In [101]:
for result in results:    
    countries = result[0]
    hdi = result[3]
    urbanized = result[4]

print(countries)
print(urbanized)

hdi_dict = {
"country": countries,
"hdi": hdi,
"urbanized": urbanized
}
hdi_gdp_gii_df

Zimbabwe
10732.0

,country,gdp_per_cap,hdi,gii,rural_pop,urban_pop,total_pop,urbanized
0,Afghanistan,590.3,0.4653,0.6934,23980.00,8547.00,32527.0,26.28
1,Albania,3954.0,0.7328,0.2174,1062.00,1835.00,2897.0,63.34
2,Algeria,4210.0,0.7356,0.4131,10928.00,28739.00,39667.0,72.45
3,Argentina,12622.0,0.8356,0.3756,4740.00,38677.00,43417.0,89.08
4,Armenia,3499.0,0.7330,0.3176,1144.00,1874.00,3018.0,62.09
5,Australia,55906.0,0.9350,0.1101,2576.00,21393.00,23969.0,89.25
6,Austria,43768.0,0.8850,0.0528,2900.00,5645.00,8545.0,66.06
7,Azerbaijan,5439.0,0.7511,0.3030,4504.00,5250.00,9754.0,53.82
8,Bahamas,22898.0,0.7900,0.2979,66.80,321.20,388.0,82.78
9,Bahrain,23400.0,0.8239,0.2649,170.00,1207.00,1377.0,87.65
10,Bangladesh,1211.0,0.5701,0.5034,106012.00,54984.00,160996.0,34.15
11,Barbados,15662.0,0.7855,0.3570,193.70,90.48,284.2,31.84
12,Belarus,5751.0,0.7984,0.1507,2397.00,7099.00,9496.0,74.76
13,Belgium,40181.0,0.8903,0.0633,355.00,10944.00,11299.0,96.86
14,Belize,4907.0,0.7150,0.4257,206.50,152.80,359.3,42.53
15,Benin,779.1,0.4796,0.6143,6098.00,4782.00,10880.0,43.95
16,Bhutan,2533.0,0.6052,0.4574,474.70,300.10,774.8,38.73
17,Bolivia (Plurinational State of),3095.0,0.6618,0.4443,3172.00,7553.00,10725.0,70.42
18,Bosnia and Herzegovina,4198.0,0.7325,0.2007,2291.00,1519.00,3810.0,39.87
19,Botswana,6362.0,0.6979,0.4801,1081.00,1181.00,2262.0,52.21
20,Brazil,8516.0,0.7553,0.4569,33340.00,174508.00,207848.0,83.96
21,Bulgaria,6847.0,0.7817,0.2116,1890.00,5260.00,7150.0,73.57
22,Burkina Faso,613.0,0.4023,0.6313,12757.00,5349.00,18106.0,29.54
23,Burundi,276.0,0.3999,0.4916,9875.00,1304.00,11179.0,11.66
24,Cambodia,1159.0,0.5548,0.4775,12329.00,3249.00,15578.0,20.86
25,Cameroon,1251.0,0.5118,0.5873,10623.00,12721.00,23344.0,54.49
26,Canada,43127.0,0.9132,0.1292,6587.00,29353.00,35940.0,81.67
27,Central African Republic,306.8,0.3501,0.6549,2977.00,1923.00,4900.0,39.24
28,Chad,775.7,0.3919,0.7065,10980.00,3057.00,14037.0,21.78
29,Chile,13372.0,0.8322,0.3376,1901.00,16047.00,17948.0,89.41
...,...,...,...,...,...,...,...,...
125,Slovakia,15957.0,0.8436,0.1636,2501.00,2925.00,5426.0,53.91
126,Slovenia,20671.0,0.8803,0.0164,1036.00,1032.00,2068.0,49.90
127,South Africa,5744.0,0.6659,0.4071,19827.00,34663.00,54490.0,63.61
128,Spain,26018.0,0.8761,0.0954,8561.00,37561.00,46122.0,81.44
129,Sri Lanka,3974.0,0.7567,0.3698,16748.00,3967.00,20715.0,19.15
130,Sudan,2089.0,0.4791,0.5909,26844.00,13391.00,40235.0,33.28
131,Suriname,8983.0,0.7143,0.4626,180.80,362.20,543.0,66.70
132,Swaziland,3155.0,0.5306,0.5572,1013.00,273.90,1287.0,21.28
133,Sweden,50414.0,0.9068,0.0547,1460.00,8319.00,9779.0,85.07
134,Switzerland,80130.0,0.9296,0.0278,2210.00,6089.00,8299.0,73.37
135,Tajikistan,925.9,0.6245,0.3573,6176.00,2306.00,8482.0,27.19
136,Thailand,5812.0,0.7258,0.3796,34007.00,33952.00,67959.0,49.96
137,The former Yugoslav Republic of Macedonia,4854.0,0.7473,0.1636,874.00,1204.00,2078.0,57.94
138,Togo,547.9,0.4835,0.5881,4439.00,2866.00,7305.0,39.23
139,Tonga,4090.0,0.7170,0.6656,80.98,25.22,106.2,23.75
140,Trinidad and Tobago,20445.0,0.7719,0.3714,1246.00,113.70,1360.0,8.36
141,Tunisia,3822.0,0.7212,0.2404,3744.00,7510.00,11254.0,66.73
142,Turkey,9127.0,0.7611,0.3588,22378.00,56288.00,78666.0,71.55
143,Uganda,675.6,0.4827,0.5381,32569.00,6463.00,39032.0,16.56
144,Ukraine,2022.0,0.7470,0.2864,13708.00,31116.00,44824.0,69.42
145,United Arab Emirates,40406.0,0.8355,0.2322,965.00,8192.00,9157.0,89.46
146,United Kingdom,44039.0,0.9067,0.1774,11986.00,52730.00,64716.0,81.48
147,United Republic of Tanzania,839.6,0.5212,0.5469,36942.00,16528.00,53470.0,30.91
148,United States of America,55629.0,0.9150,0.2800,56413.00,265361.00,321774.0,82.47
149,Uruguay,15572.0,0.7928,0.3128,163.00,3269.00,3432.0,95.25
150,Venezuela (Bolivarian Republic of),11926.0,0.7623,0.4759,3260.00,27848.00,31108.0,89.52
151,Viet Nam,2076.0,0.6657,0.3078,62076.00,31372.00,93448.0,33.57
152,Yemen,1340.0,0.4981,0.7440,17995.00,8837.00,26832.0,32.93
153,Zambia,1308.0,0.5855,0.5868,9861.00,6351.00,16212.0,39.17
154,Zimbabwe,890.4,0.5087,0.5040,10732.00,4871.00,15603.0,31.22

## Get the countries with the max change in the hdi, gii and gdp per capita

In [105]:
query_statement = "select country, `mid year`, `year bucket`, hdi, \
                    round(((urban_pop/total_pop)*100), 2) urbanized \
                    from Data \
                    where hdi is not null and gdp_per_cap is not null and gii is not null \
                    order by country"
hdi_df = pd.read_sql_query(query_statement, session.bind)
hdi_df.head(10)

       country  mid year year bucket     hdi  urbanized
0  Afghanistan      2010   2008-2012  0.4630      25.55
1  Afghanistan      2015   2013-2017  0.4653      26.28
2      Albania      2010   2008-2012  0.7294      59.63
3      Albania      2015   2013-2017  0.7328      63.34
4      Algeria      2000   1998-2002  0.6401      62.62
5      Algeria      2010   2008-2012  0.7318      70.79
6      Algeria      2015   2013-2017  0.7356      72.45
7    Argentina      2000   1998-2002  0.7621      88.90
8    Argentina      2010   2008-2012  0.8306      89.11
9    Argentina      2015   2013-2017  0.8356      89.08

In [133]:
hdi_maxcount_df = hdi_df.groupby("country", as_index=False).count().sort_values("hdi", ascending=False)
hdi_maxcount_df.head()

        country  mid year  year bucket  hdi  urbanized
77       Latvia         3            3    3          3
133      Sweden         3            3    3          3
72   Kazakhstan         3            3    3          3
71       Jordan         3            3    3          3
70        Japan         3            3    3          3

In [136]:
# get a list of countries with the most number of hdi values (We know 3 is the max)
hdi_maxcount_df = hdi_maxcount_df[hdi_maxcount_df["hdi"]==3][["country"]]
hdi_maxcount_df.count()

country    79
dtype: int64

In [138]:
hdi_maxcount_df = pd.merge(hdi_df, hdi_maxcount_df, on="country")

In [176]:
# get the change in hdi for these countries
hdi_group = hdi_maxcount_df.groupby("country", as_index=False)
hdi_avg_df = hdi_group.mean()
hdi_max_df = hdi_group.max()[["country", "hdi"]]
hdi_min_df = hdi_group.min()[["country", "hdi"]]
hdi_diff_df = pd.merge(hdi_max_df, hdi_min_df, on="country")
hdi_diff_df["diff"] = hdi_diff_df["hdi_x"] - hdi_diff_df["hdi_y"]
hdi_diff_df = hdi_diff_df.sort_values("diff", ascending=False)

# get the ones with a change of >=0.1
hdi_diff_df = hdi_diff_df[hdi_diff_df["diff"]>=0.1]
hdi_diff_df

                             country   hdi_x   hdi_y    diff
63                            Rwanda  0.4832  0.3329  0.1503
14                             China  0.7275  0.5876  0.1399
9                           Botswana  0.6979  0.5608  0.1371
12                          Cambodia  0.5548  0.4186  0.1362
51                        Mozambique  0.4164  0.2997  0.1167
41  Lao People's Democratic Republic  0.5750  0.4618  0.1132
37                        Kazakhstan  0.7880  0.6791  0.1089
47                              Mali  0.4193  0.3126  0.1067
38                             Kenya  0.5484  0.4468  0.1016
16                             Congo  0.5906  0.4892  0.1014
50                           Morocco  0.6280  0.5276  0.1004
30        Iran (Islamic Republic of)  0.7656  0.6654  0.1002

In [177]:
hdi_diff_df = hdi_diff_df[["country"]]
hdi_diff_df

                             country
63                            Rwanda
14                             China
9                           Botswana
12                          Cambodia
51                        Mozambique
41  Lao People's Democratic Republic
37                        Kazakhstan
47                              Mali
38                             Kenya
16                             Congo
50                           Morocco
30        Iran (Islamic Republic of)

In [178]:
# reduce the original hdi_df to only the above countries
hdi_df = pd.merge(hdi_df, hdi_diff_df, on="country")
hdi_df

                             country  mid year year bucket     hdi  urbanized
0                           Botswana      2000   1998-2002  0.5608      55.04
1                           Botswana      2010   2008-2012  0.6914      53.26
2                           Botswana      2015   2013-2017  0.6979      52.21
3                           Cambodia      2000   1998-2002  0.4186      18.86
4                           Cambodia      2010   2008-2012  0.5460      20.18
5                           Cambodia      2015   2013-2017  0.5548      20.86
6                              China      2000   1998-2002  0.5876      39.64
7                              China      2010   2008-2012  0.7180      53.37
8                              China      2015   2013-2017  0.7275      57.23
9                              Congo      2000   1998-2002  0.4892      60.12
10                             Congo      2010   2008-2012  0.5749      64.86
11                             Congo      2015   2013-2017  0.5906      66.10
12        Iran (Islamic Republic of)      2000   1998-2002  0.6654      65.50
13        Iran (Islamic Republic of)      2010   2008-2012  0.7644      72.02
14        Iran (Islamic Republic of)      2015   2013-2017  0.7656      73.72
15                        Kazakhstan      2000   1998-2002  0.6791      53.89
16                        Kazakhstan      2010   2008-2012  0.7781      51.71
17                        Kazakhstan      2015   2013-2017  0.7880      50.67
18                             Kenya      2000   1998-2002  0.4468      20.78
19                             Kenya      2010   2008-2012  0.5393      24.73
20                             Kenya      2015   2013-2017  0.5484      26.01
21  Lao People's Democratic Republic      2000   1998-2002  0.4618      24.23
22  Lao People's Democratic Republic      2010   2008-2012  0.5618      36.30
23  Lao People's Democratic Republic      2015   2013-2017  0.5750      39.86
24                              Mali      2000   1998-2002  0.3126      27.67
25                              Mali      2010   2008-2012  0.4144      34.64
26                              Mali      2015   2013-2017  0.4193      36.88
27                           Morocco      2000   1998-2002  0.5276      53.58
28                           Morocco      2010   2008-2012  0.6234      57.87
29                           Morocco      2015   2013-2017  0.6280      59.45
30                        Mozambique      2000   1998-2002  0.2997      29.41
31                        Mozambique      2010   2008-2012  0.4080      30.77
32                        Mozambique      2015   2013-2017  0.4164      31.23
33                            Rwanda      2000   1998-2002  0.3329      17.66
34                            Rwanda      2010   2008-2012  0.4756      27.43
35                            Rwanda      2015   2013-2017  0.4832      30.84

In [180]:
# group by year and get the avg hdi
hdi_mean_df = hdi_df.groupby("mid year").mean()
hdi_mean_df

               hdi  urbanized
mid year
2000      0.481842  38.865000
2010      0.591275  43.928333
2015      0.599558  45.421667

In [187]:
query_statement = "select country, `mid year`, `year bucket`, gii, \
                    round(((urban_pop/total_pop)*100), 2) urbanized \
                    from Data \
                    where hdi is not null and gdp_per_cap is not null and gii is not null \
                    order by country"
gii_df = pd.read_sql_query(query_statement, session.bind)
gii_df["mid year"].unique()

array([2010, 2015, 2000])

In [188]:
gii_maxcount_df = gii_df.groupby("country", as_index=False).count().sort_values("gii", ascending=False)

# get a list of countries with the most number of gii values (We know 3 is the max)
gii_maxcount_df = gii_maxcount_df[gii_maxcount_df["gii"]==3][["country"]]
gii_maxcount_df = pd.merge(gii_df, gii_maxcount_df, on="country")

# get the change in gii for these countries
gii_group = gii_maxcount_df.groupby("country", as_index=False)
gii_avg_df = gii_group.mean()
gii_max_df = gii_group.max()[["country", "gii"]]
gii_min_df = gii_group.min()[["country", "gii"]]
gii_diff_df = pd.merge(gii_max_df, gii_min_df, on="country")
gii_diff_df["diff"] = gii_diff_df["gii_x"] - gii_diff_df["gii_y"]
gii_diff_df = gii_diff_df.sort_values("diff", ascending=False)

# get the ones with a change of >=0.1
gii_diff_df = gii_diff_df[gii_diff_df["diff"]>=0.1]

gii_diff_df = gii_diff_df[["country"]]

# reduce the original gii_df to only the above countries
gii_df = pd.merge(gii_df, gii_diff_df, on="country")

# group by year and get the avg gii
gii_mean_df = gii_df.groupby("mid year").mean()
gii_mean_df

               gii  urbanized
mid year
2000      0.513778  52.860000
2010      0.387778  56.536296
2015      0.364767  57.532963

In [191]:
query_statement = "select country, `mid year`, `year bucket`, gdp_per_cap, \
                    round(((urban_pop/total_pop)*100), 2) urbanized \
                    from Data \
                    where hdi is not null and gdp_per_cap is not null and gii is not null \
                    order by country"
gdp_df = pd.read_sql_query(query_statement, session.bind)
gdp_df["mid year"].unique()

array([2010, 2015, 2000])

In [193]:
gdp_maxcount_df = gdp_df.groupby("country", as_index=False).count().sort_values("gdp_per_cap", ascending=False)

# get a list of countries with the most number of gdp values (We know 3 is the max)
gdp_maxcount_df = gdp_maxcount_df[gdp_maxcount_df["gdp_per_cap"]==3][["country"]]
gdp_maxcount_df = pd.merge(gdp_df, gdp_maxcount_df, on="country")

# get the change in gdp for these countries
gdp_group = gdp_maxcount_df.groupby("country", as_index=False)
gdp_avg_df = gdp_group.mean()
gdp_max_df = gdp_group.max()[["country", "gdp_per_cap"]]
gdp_min_df = gdp_group.min()[["country", "gdp_per_cap"]]
gdp_diff_df = pd.merge(gdp_max_df, gdp_min_df, on="country")
gdp_diff_df["diff"] = gdp_diff_df["gdp_per_cap_x"] - gdp_diff_df["gdp_per_cap_y"]
gdp_diff_df = gdp_diff_df.sort_values("diff", ascending=False)

# get the ones with a change of >=0.1
gdp_diff_df = gdp_diff_df[gdp_diff_df["diff"]>=0.1]

gdp_diff_df = gdp_diff_df[["country"]]

# reduce the original gdp_df to only the above countries
gdp_df = pd.merge(gdp_df, gdp_diff_df, on="country")

# group by year and get the avg gdp
gdp_mean_df = gdp_df.groupby("mid year").mean()
gdp_mean_df

           gdp_per_cap  urbanized
mid year
2000       9696.988608  57.923924
2010      19248.168354  61.165696
2015      17428.960759  62.052658

In [194]:
gii_diff_df

                             country
74              United Arab Emirates
14                             China
39                            Kuwait
0                            Algeria
73                             Tonga
50                           Morocco
53                             Nepal
36                            Jordan
48                        Mauritania
62                Russian Federation
63                            Rwanda
40                        Kyrgyzstan
2                            Armenia
37                        Kazakhstan
42                            Latvia
8   Bolivia (Plurinational State of)
38                             Kenya
12                          Cambodia
49                            Mexico
52                           Namibia
33                             Italy
20                           Czechia
30        Iran (Islamic Republic of)
4                            Austria
66                      South Africa
11                           Burundi
46                          Malaysia

In [195]:
gdp_diff_df

                             country
56                            Norway
45                        Luxembourg
3                          Australia
70                       Switzerland
39                            Kuwait
69                            Sweden
21                           Denmark
55                       New Zealand
4                            Austria
54                       Netherlands
24                           Finland
6                            Belgium
27                           Germany
31                           Ireland
29                           Iceland
32                            Israel
25                            France
75                    United Kingdom
35                             Japan
62                Russian Federation
33                             Italy
67                             Spain
1                          Argentina
20                           Czechia
76                           Uruguay
37                        Kazakhstan
13                             Chile
65                          Slovakia
42                            Latvia
10                            Brazil
..                               ...
58                          Paraguay
36                            Jordan
68                         Swaziland
2                            Armenia
49                            Mexico
73                             Tonga
16                             Congo
8   Bolivia (Plurinational State of)
59                       Philippines
57                  Papua New Guinea
34                           Jamaica
77                          Viet Nam
50                           Morocco
41  Lao People's Democratic Republic
7                             Belize
38                             Kenya
48                        Mauritania
40                        Kyrgyzstan
12                          Cambodia
43                           Lesotho
78                             Yemen
71                        Tajikistan
64                           Senegal
63                            Rwanda
53                             Nepal
47                              Mali
51                        Mozambique
44                           Liberia
11                           Burundi
26                            Gambia

[79 rows x 1 columns]

In [197]:
combined_df = pd.merge(gii_diff_df, gdp_diff_df, on="country")
combined_df = pd.merge(combined_df, hdi_diff_df, on="country")
combined_df

                      country
0                       China
1                     Morocco
2                      Rwanda
3                  Kazakhstan
4                       Kenya
5                    Cambodia
6  Iran (Islamic Republic of)